body {
  background-color: #f4e7da;
}

.container {
  width: 700px;
  height: 250px;
  position: relative;
  margin: auto;
  border: 3px solid #f79bb2;
  /* background-image: url(../Images/istockphoto-1333010525-612x612.jpg);
  background-size: 100%; */
}

.personnage {
  width: 50px;
  height: 74px;
  position: absolute;
  bottom: 0;
  left: 55px;
  background-image: url(Images/perso.png);
  background-size: 50px 75px;
  background-repeat: no-repeat;
}

.saut {
    animation: saut 0.8s linear;
}

@keyframes saut {
  0% {
    top: 170px;

  }

  50% {
    top: 50px;
    /* background-image: url(../Images/saut.png); */
  }

  100% {
    top: 0px;
  }
}

.obstacle{
    width: 40px;
    height: 48px;
    position: absolute;
    bottom: 0;
    /* right: 0px; */
    background-image: url(Images/plante.png);
    background-size: 44px;
    background-repeat: no-repeat;
}